@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@font-face {
  font-family: "alarm clock";
  font-style: normal;
  font-weight: 400;
  src: local("alarm clock"), url("./font/alarm\ clock.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.clock {
  width: 1000px;
  height: 400px;
  background: rgb(0, 0, 0);
  border-radius: 85px;

  filter: drop-shadow(0px 15px 5px #8f8f8f);
  // box-shadow: inset -2px 0px 4px 1px #5b5b5b;
  box-shadow: inset 2px 0px 0px 3px #292929;

  display: flex;
  padding: 40px;
  &__function {
    width: 10%;
    //     background: rgb(189, 25, 25);
    display: flex;
    flex-direction: column;
    &__top {
      // background: rgb(154, 11, 11);
      width: 100%;
      height: 60%;
      padding-top: 30px;
      display: flex;
      justify-content: center;

      & p {
        font-family: "Open Sans", sans-serif;
        text-align: center;
        width: 70%;
        height: 40px;
        font-weight: 700;
        line-height: 40px;
        border-radius: 6px;
        background: rgb(0, 86, 191);
        font-size: 25px;
      }
    }
    &__bottom {
      width: 100%;
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
    &__icon {
      border-radius: 6px;
      font-size: 30px;
      padding: 0 10px;

      text-align: center;

      background: rgb(0, 86, 191);
    }
  }
  &__timer {
    width: 90%;

    &__current {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      text-align: center;
      font-family: "alarm clock", sans-serif;
      font-size: 180px;
      text-shadow: 1px 1px 5px #108bf6;

      background: -webkit-linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgb(0, 86, 191) 35%,
        rgba(2, 162, 254, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
